<div class="table-container">
    <app-alerts-table class="Alerts-table"
        [title]="'Active Alerts'"
        [tableData]="activeAlertsData"
        [displayedColumns]="displayedColumns"
        (sendAlert)="changeAlertStatus($event)">
    </app-alerts-table>
</div>

<div class="table-container">
    <app-alerts-table class="Alerts-table"
        [title]="'Dissmised Alerts'"
        [tableData]="dissmisedAlertsData"
        [displayedColumns]="displayedColumns"
        (sendAlert)="changeAlertStatus($event)"
        >
    </app-alerts-table>
</div>